<h1>Stores Around Australia</h1>

<p>
  <ul>
    <% @stores.each do |store| %>
      <li>
        <%= link_to store.title, store_path(store) %> |
        <%= store.full_address %>
      </li>
    <% end %>
  </ul>
</p>

<h1>Customer Address Form</h1>

<%#= form_tag(search_path, method: :post) do %>
  <%#= label_tag(:address, "Enter your address:") %>
  <%#= text_field_tag(:address) %>
  <%#= submit_tag("Search") %>
<%# end %>

<%= form_tag do %>
  <%= label_tag :address, "Enter your address:" %>
  <%= text_field_tag :address %>
  <%= submit_tag "Find Nearest Store" %>
<% end %>

<br>
<% if @nearest_store %>
  <p>Your nearest store is: <%= @nearest_store.title %></p>
<% end %>

<p><%= notice %></p>

<%= link_to "Home", home_path %>
