<h1><%= @store.title %></h1>

<p>
  <%= @store.full_address %>
</p>

<p>
  <iframe
    width="600"
    height="450"
    frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCl2Whb5wgfGiRZ_AW1eZq5J_d8SeEalPQ
      &q=<%= @store.full_address %>" allowfullscreen>
  </iframe>
</p>

<p>
  <iframe
    width="600"
    height="450"
    frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/streetview?key=AIzaSyCl2Whb5wgfGiRZ_AW1eZq5J_d8SeEalPQ
      &location=<%= @store.latitude %>,<%= @store.longitude %>
      &heading=210
      &pitch=10
      &fov=35" allowfullscreen>
  </iframe>
</p>

<%= link_to "Back", stores_path %>
